<h1> Your Events </h1>
<h2> Upcoming Events </h2>
<ul>
  <% @user.attended_events.where("event_date >= ?", Date.today).each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>


<h2> Past Events </h2>
<ul>
 <% @user.attended_events.where("event_date < ?", Date.today).each do |event| %>
    <li><%= event.name %></li>
 <% end %>
</ul>

<%= button_to "Logout", destroy_user_session_path, method: :delete %>