<h1>Event Details</h1>
<p><strong>Name:</strong> <%= @event.name %></p>
<p><strong>Location:</strong> <%= @event.location %></p>
<p><strong>Date:</strong> <%= @event.event_date %></p>
<p><strong>Created by:</strong> <%= @event.creator.email %></p>